html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

#map {
}

.search-bar {
  padding: 5px;
}

.weather-icon {
  height: 25px;
}

.wu-logo {
  margin: 0 0 5% 20%;
}

.hidden {
  display: none;
}
