html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

#map {
}

.search-bar {
  padding: 5px;
}

.nav-drawer {
  position: relative;
}

.wu-logo {
  margin-left: 20%;
}

.hidden {
  display: none;
}
