html, body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

#map {
}

.search-bar {
  padding: 5px;
}

.nav-drawer {
  position: relative;
  }
  .wu-logo {
    position: absolute;
    bottom: 10px;
  }
